.wrap {
  width:40%;
  margin:4em auto;
}

.fill {
  animation: charge 1s linear, changeColor 1s ease-out forwards;
}

@keyframes charge {
  0% {transform: scaleX(0.1);}
  100% {transform: scaleX(1);}
}

@keyframes changeColor {
  0%, 30% { fill: red;}
  40%, 100% {fill: #72CC58;}
}
