	body {
		background:#678bb3;
		padding:0;
		margin:0;
	}

	.sky {
		width:100%;
		height:1000px;
		background: transparent url(img/sky.jpg) top left no-repeat;
		background-size: 100% 100%;
		margin:auto;
		position:relative;
	}

	.cloud {
		width: 250px;
		height:200px;
		position:absolute;
		background:transparent url(img/front_cloud.png) 0 0 no-repeat;
	}

.fcloud01 {
		top:100px;
		z-index:100;
		animation-name: fly;
		animation-duration: 25s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
}

.fcloud02 {
		top:240px;
		z-index: 200;
		animation-name: fly;
		animation-duration: 35s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-delay: 10s;
		animation-fill-mode: backwards;
}

@keyframes fly {
	from {transform: translateX(-255px);}
	to {transform: translateX(1350px);}
}
